:root {
  --container-width: 1680px;
  --container-padding: 24px;

  --font-main: "Roboto", sans-serif;

  // palette
  --black: #000;
  --white: #fff;
  --green: #63b569;
  --yellow: #f4c22f;
  --grey: #676767;
  --grey-main: #b8b8b8;
  --grey-light: #f8f8f8;
  --grey-lighter: #f6f6f6;

  --laptop-size: 1199px;
  --tablet-size: 959px;
  --mobile-size: 599px;
}
