:root {
  --container-width: 1680px;
  --container-padding: 24px;

  --font-main: sans-serif;
  --bs-font-family: "Dupla", sans-serif;

  // palette
  --black: #000;
  --white: #fff;
  --green: #63B569;
  --yellow: #F4C22F;
  --grey: #676767;
  --grey-middle: #B8B8B8;
  --grey-light: #F8F8F8;

  --laptop-size: 1199px;
  --tablet-size: 959px;
  --mobile-size: 599px;
}
